version: '3.8'

services:
  db:
    image: postgres:18-alpine
    container_name: score_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: score_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app  # เพิ่มบรรทัดนี้เพื่อบอก Python ว่า Root อ  
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data: